html, body, .pageContainer  {

    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between
}


#mapContainer {
    height: 60vh;
}

.html {
    background-color: black;
}

.flexcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.flexcontainercolumn {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.footer {
    bottom: 0;
    right: 0;
    
}
  




